.Wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  background: rgba(108, 178, 212, 0.658);
  /* filter: blur(5px); */
}

.footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
}

/* .Wrapper::before {
  filter: blur(5px);
} */
